body {
    padding:0;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgb(79, 172, 248);
}

div {
    background-color: azure;
}

header {
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 1.5em;
}

.userInput {
    width: 30%;
    padding-top: 10px;
    background-color: rgb(192, 192, 192);
}

.rowHead {
    padding-left: 10px;
    padding-top: 30px;
    display: inline-block;
    
}

.saveBtn {
    margin-left: 45%;
}

.userInput {
    margin-left: 15%;
    padding: 5px 100px;
}

.row {
    margin: auto;
    width: 90%;
    border: 2px solid black;
}

.formBox {
    padding: 0;
    margin: 0;
    display: inline-block;
    padding: 30px;
}

.tasks {
    display: inline-block;
    
}

.future {
    color: green;
}

.past {
 color: grey
}

.present {
 color: red;
}
